/md-02-manipulacao-de-listas/for-forin/node_modules
/md-03-introducao-testes/testes/node_modules
/md-04-node-alem-da-web/cli/node_modules
/md-06-multi-database-postgres/node_modules
/md-07-multi-database-postgres-mongo/node_modules
/md-08-multi-database-refactoring-mongo/node_modules
/md-09-multi-database-refactoring-postgres/node_modules
/md-10-api-estrutura/node_modules
/md-11-hapi-listar/node_modules
/md-12-hapi-listar-joi/node_modules
/md-13-hapi-cadastrar/node_modules
/md-14-hapi-atualizar/node_modules
